<html>

<head> </head>

<body>

    <h3>Письма принимаются только по Почте России.</h3> <!-- <br> - Новая строка -->
    <!-- mailto - автоматически создает форму для отправки письма -->
    <h3>Мы не знаем, чья это почта:</h3> <a href="mailto:button&contacts@random.ru">button&contacts@random.ru</a>
    <!-- tel - при клике на ссылку с номером открывается приложение для звонков -->
    <br/> <h3>Наш телефон:</h3> <a href="tel:+7 (924) 377-86-92"> +7 (924) 377-86-92</a>  (Звонки в вашем регионе недоступны). 
    <br/> <a href="http://127.0.0.1:5000"><h3>Вернуться на главную?</h3></a> <!-- <br> - Гиперссылка -->

</body>

</html>